* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #000A22;
    color: rgb(255, 255, 255);
}

h1 {
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 150px;
    width: 150px;
    border-radius: 50%;

}

.choice:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #081b31;
}
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3.5rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 4rem ;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}


/* media query */

@media screen and (max-width: 625px) {
    
    h1 {
        font-size: 1.5rem;
        height: 4rem;
        line-height: 4rem;
    }

    .choice {
        height: 90px;
        width: 90px;
    }
    img {
        height: 90px;
        width: 90px;
    }
    
    .choices {
        gap: 1.5rem;
        margin-top: 6rem;
    }
    
    .score-board {
        font-size: 0.8rem;
        margin-top: 4.5rem;
        gap: 3.5rem;
    }

    #user-score,
    #comp-score {
        font-size: 3rem ;
    }
    #msg {
        font-size: 1rem;
        padding: 0.6rem;
    }
}

#back{
    font-size: 1em;
    padding: 0.5em;
    border-radius: 8px;
    background-color: #ffffff;
    color: #00091f;
    border: none;
    margin: 1.5em auto 0 auto;
    display: flow-root;
    transform: translate(0%, -50%);
  }